<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Definition</title>
</head>
<body>
  <main>
    <form action="/definition" method="post">
      <fieldset>
        <legend>Add a Definition to the Glossary</legend>
        <label for="term">Term</label>
        <input id="term" type="text" name="term">
        <label for="description">Term</label>
        <input id="description" type="text" name="description">
        <input type="submit" value="Add">
      </fieldset>
    </form>
  </main>
</body>
</html>