<%- include partials/header %>
  <main>
    <h1>Learning Resources</h1>
    <h2>DevOps</h2>
    <ul>
      <li>Search: "<a href="https://www.google.com/search?q=unix+command+line+commands&oq=unix+command+line+commands">unix command line commands</a>"</li>
      <li>Reference: <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheatsheet</a></li>
    </ul>
    <h2>Javascript</h2>
    <ul>
      <li>Textbook: <a href="https://eloquentjavascript.net/">Eloquent Javascript</a> by Marijn Haverbeke</li>
      <li>Article: <a href="https://javascriptweblog.wordpress.com/2010/09/27/the-secret-life-of-javascript-primitives/">The Secret Lives of Primitives</a>by Angus Croll</li>
      <li>Video Tutorial: <a href="https://www.youtube.com/watch?v=Bv_5Zv5c-Ts">Javascript: The Weird Parts</a> by Tony Alicea</li>
    </ul>
    <h2>Node</h2>
    <ul>
      <li><a href="https://nodejs.org/en/docs/">Node Documentation</a></li>
      <li>API Reference: <a href="https://nodejs.org/docs/latest/api/">Node API Documentation</a></li>
      <li>Video Tutorial<a href="https://www.youtube.com/watch?v=fBNz5xF-Kx4">Node JS Crash Course</a> by Brad Traversy</li>
    </ul>
    <h2>Express</h2>
    <ul>
      <li>Video Tutorial: <a href="https://www.youtube.com/watch?v=L72fhGm1tfE">Express JS Crash Course</a> by Brad Traversy</li>
    </ul>
    <h2>PUG</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=kt3cEjjkCZA">Pug Template Engine: Full Tutorial for Beginners</a> by Free Code Camp</li>
      <li>Video Tutorial: <a href="https://www.youtube.com/watch?v=Ad2ngx6CT0M">Node.js & Express From Scratch [Part 3] - Pug Template Engine</a> by Brad Traversy</li>
    </ul>
    <h2>EJS</h2>
    <ul>
      <li>Video Tutorial: <a href="https://www.youtube.com/watch?v=gTsrmJsl4kI">Node.js & Express ep. 6 - EJS</a> by Kody Simpson</li>
    </ul>
  </main>
  <%- include partials/footer %>