@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');

/* Reset */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

nav ul {
  padding-left: 0;
  
  list-style-type: none;
}

/* Typography */

body {
  font-family: 'Open Sans', sans-serif;
}
nav {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif;
}

/* Grid Wrapper */

body > .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [pg-start] 75vh [mn-start] 10vh [hd-end] auto [mn-end];
}

/* Header */

header {  
  padding: 5em 0;
  
  background-image: url('https://picsum.photos/1500/1500');
  
  color: white;
  text-align: center;
  
  grid-column: 1 / -1;
  grid-row: pg-start / hd-end;
  
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav a {
  padding: .5em 1em;

  color: white;
  text-decoration: none;
  
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

nav a:hover {
  background-color: #222;
}

/* Main */

main {
  grid-column: 1 / -1;
  grid-row: mn-start / hd-end;
}

main > section:first-child {
  width: 80vw;
}

main > section {
  padding: 2em 10vw;
  margin: auto;
  
  background-color: white;

  display: flex;
  flex-direction: column;
}

main > section:nth-child(even) {
  background-color: #555;
  color: #ddd;
}

main > section > * {
  text-align: center;
}

/* Footer */

footer {
  height: 25vh;

  background-color: black;
  color: white;

  display: flex;
  justify-content: flex-start;
}
footer h6 {
  margin: auto;
  
  font-size: 1em;
  font-weight: normal;
}