<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CPNT 262 - Node</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <% menu.forEach(function(item) { %>
          <li><a href="/<%= item.link %>" title="<%= item.title %>"><%= item.label %></a></li>
        <% }) %>
      </ul>
    </nav>
  </header>