<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Definition</title>
</head>
<body>
  <main>
    <form action="../definitions" method="post">
      <fieldset>
        <legend>Add a new definition to the database</legend>
        <label for="term">Term: </label>
        <input type="text" id="term" name="term" placeholder="Definition term...">
        <label for="definition">Description</label>
        <input type="text" id="definition" name="definition" placeholder="Definition description...">
        <input type="submit" value="Add Definition">
        </fieldset>
    </form>
  </main>
</body>
</html>